/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
 @import "compass/css3";
 @import url(http://fonts.googleapis.com/css?family=Open+Sans);

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #e3e3e3;
    text-shadow: none;
}

::selection {
    background: #e3e3e3;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
<<<<<<< HEAD
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
=======
    margin: 1em 0;
    padding: 0;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
>>>>>>> 8cbd6d152a0b49582c1a4d7514da78891b6c9946
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
<<<<<<< HEAD
    border: 0;
    margin: 0;
    padding: 0;
=======
    margin: 0;
    padding: 0;
    border: 0;
>>>>>>> 8cbd6d152a0b49582c1a4d7514da78891b6c9946
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
<<<<<<< HEAD
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
=======
    padding: 0.2em 0;
    background: #ccc;
    color: #000;
>>>>>>> 8cbd6d152a0b49582c1a4d7514da78891b6c9946
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* colors */
$dark-red:      rgb(94,40,33);
$red:           #BC5143;
$green:         #9CBC43;
$blue:          #4381BC;
$dark-green:    rgb(78,94,33);
$light-green:   rgb(156,188,67);
$dark-blue:     rgb(33,64,94);
$font:          #2e2d2c;
$lg:            #a1a1a0;

body {
<<<<<<< HEAD
    font-family: 'Open Sans', sans-serif;
    background: #fcfcfc;
}

header {
    height: 40px;
    margin: 0 auto;
    width: 204px;

    h1 {
        //margin: 0;
        text-transform: uppercase;
        color: $lg;
        font-size: 1.1em;
        font-weight: 400;
        display: inline-block;
        vertical-align: middle;
=======
    background: #fcfcfc;
    font-family: 'Open Sans', sans-serif;
}

header {
    margin: 0 auto;
    width: 204px;
    height: 40px;

    h1 {
        display: inline-block;
        color: $lg;
        vertical-align: middle;
        text-transform: uppercase;
        font-weight: 400;
        font-size: 1.1em;
>>>>>>> 8cbd6d152a0b49582c1a4d7514da78891b6c9946
    }

    img {
        display: inline-block;
<<<<<<< HEAD
=======
        width: 26px;
>>>>>>> 8cbd6d152a0b49582c1a4d7514da78891b6c9946
        margin: -5px 5px 0 5px;
    }
}

.feature {
<<<<<<< HEAD
    width: 100%;
    background: $red;
    margin-bottom: 20px;

    img#imac {
        max-height: 460px;
        display: block;
        margin: 0 auto;
        max-width: 100%;
=======
    margin-bottom: 20px;
    width: 100%;
    background: $red;

    img#imac {
        display: block;
        margin: 0 auto;
        max-width: 100%;
        max-height: 460px;
>>>>>>> 8cbd6d152a0b49582c1a4d7514da78891b6c9946
    }

    img#ipad, img#ipho {
        display: none;
    }
}

.content {
    margin: 0 auto;
<<<<<<< HEAD
    width: 70%;
    max-width: 960px;
=======
    max-width: 960px;
    width: 70%;
>>>>>>> 8cbd6d152a0b49582c1a4d7514da78891b6c9946
}

.expertise {
    margin: 0 auto;
    margin-bottom: 30px;
    text-align: center;
}

<<<<<<< HEAD
.expertise p {
    font-size: .9em;
    color: $font;
    text-align: left;
=======
.expertise img {
    width: 44px;
}

.expertise p {
    color: $font;
    text-align: left;
    font-size: .9em;
>>>>>>> 8cbd6d152a0b49582c1a4d7514da78891b6c9946
}

.graphic, .web {
    margin-right: 23px;
}

.graphic, .web, .motion {
    display: inline-block;
    width: 30%;
    vertical-align: top;

    img {
<<<<<<< HEAD
        margin: 0 auto;
        display: block;
=======
        display: block;
        margin: 0 auto;
>>>>>>> 8cbd6d152a0b49582c1a4d7514da78891b6c9946
    }
}

h2 {
    text-align: center;
<<<<<<< HEAD
    font-size: 1.1em;
    font-weight: 600;
=======
    font-weight: 600;
    font-size: 1.1em;
>>>>>>> 8cbd6d152a0b49582c1a4d7514da78891b6c9946
}

.graphic h2 {
    color: $dark-red;
}

.web h2 {
    color: $dark-green;
}

.motion h2 {
    color: $dark-blue;
}

h3 {
    display: table;
    margin: 0 auto 20px auto;
<<<<<<< HEAD
    background-color: #fcfcfc;
    padding: 0 20px;
=======
    padding: 0 20px;
    background-color: #fcfcfc;
>>>>>>> 8cbd6d152a0b49582c1a4d7514da78891b6c9946
    font-weight: 600;
}

hr {
    margin-bottom: -15px;
    border-color: #ebebeb;
}

.work {
<<<<<<< HEAD
    text-align: center;
    width: 100%;

    img {
        display: inline-block;
        max-width: 193px;
        max-height: 149px;
        height: 30%;
        width: 30%;
        margin-bottom: 20px;
        margin-right: 24px;

        &:last-child {
            margin-right: 0;
        }
=======
    width: 100%;
    text-align: center;

    a {
        margin-right: 20px;
        text-decoration: none;

        &:last-child {
            margin-right: 0;
        }
    }

    img {
        display: inline-block;
        margin-bottom: 20px;
        max-width: 193px;
        max-height: 149px;
        width: 30%;
        height: 30%;
>>>>>>> 8cbd6d152a0b49582c1a4d7514da78891b6c9946
    }
}

.team {
    text-align: center;
}

figure {
    display: inline-block;
<<<<<<< HEAD
    vertical-align: top;
    width: 30%;
    margin-bottom: 20px;
=======
    margin-bottom: 20px;
    width: 30%;
    vertical-align: top;
>>>>>>> 8cbd6d152a0b49582c1a4d7514da78891b6c9946

    img {
        width: 150px;
        height: 150px;
    }
}

figcaption {
    margin-top: 10px;

    a {
<<<<<<< HEAD
        color: $lg;
        text-decoration: none;
        @include transition(all 1s);
=======
        @include transition(all 1s);
        color: $lg;
        text-decoration: none;
>>>>>>> 8cbd6d152a0b49582c1a4d7514da78891b6c9946

        &:hover {
            color: $font;
        }
    }
}

footer {
<<<<<<< HEAD
    text-align: center;
    margin-top: 60px;
}

.button {
    text-decoration: none;
    color: white;
    padding: 15px 20px;
    display: inline-block;
    font-size: .9em;
    background-color: $light-green;
    border-radius: 3px;

    box-shadow: 0px 3px 0 $dark-green;

    @include transition(all 0.1s linear);
    @include transform(translateZ(0));

    &:active {
        box-shadow: none;
        @include transform(translate3d(0px, 3px, 0))
=======
    margin-top: 60px;
    text-align: center;
}

.button {
    @include transition(all 0.1s linear);
    @include transform(translateZ(0));
    display: inline-block;
    padding: 15px 20px;
    border-radius: 3px;
    background-color: $light-green;
    box-shadow: 0px 3px 0 $dark-green;
    color: white;
    text-decoration: none;
    font-size: .9em;

    &:active {
        @include transform(translate3d(0px, 3px, 0));
        box-shadow: none;
>>>>>>> 8cbd6d152a0b49582c1a4d7514da78891b6c9946
    }

    img {
        margin-left: 14px;
<<<<<<< HEAD
=======
        width: 12px;
>>>>>>> 8cbd6d152a0b49582c1a4d7514da78891b6c9946
    }
}

.social {
    margin: 40px 0 20px 0;

    img {
<<<<<<< HEAD
        -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
        filter: alpha(opacity=20);
        opacity: .2;
        height: 24px;

        @include transition(all .7s);

        &:hover {
            -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
            filter: alpha(opacity=100);
            opacity: 1;
=======

        @include transition(all .7s);
        height: 24px;
        opacity: .2;
        -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
        filter: alpha(opacity=20);

        &:hover {
            opacity: 1;
            -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
            filter: alpha(opacity=100);
>>>>>>> 8cbd6d152a0b49582c1a4d7514da78891b6c9946
        }
    }

    a {
        margin-right: 25px;

        &:last-child {
            margin-right: 0;
        }
    }
}


/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (max-width: 800px) {
    .content {
        width: 80%;
    }
}

@media only screen and (max-width: 768px) {
    .feature {
        background: $green;

        img#ipad {
<<<<<<< HEAD
            max-height: 460px;
            display: block;
            margin: 0 auto;
            max-width: 100%;
=======
            display: block;
            margin: 0 auto;
            max-width: 100%;
            max-height: 460px;
>>>>>>> 8cbd6d152a0b49582c1a4d7514da78891b6c9946
        }

        img#imac, img#ipho {
            display: none;
        }
    }
}

@media only screen and (max-width: 700px) {
    .content {
        width: 90%;
    }
}

@media only screen and (max-width: 650px) {
    .content {
        width: 95%;
    }
}

@media only screen and (max-width: 589px) {
<<<<<<< HEAD
    
    
=======
    // UNLOCK WHEN ART IS READY   
    // .feature {
    //     background: $blue;

    //     img#ipho {
    //         display: block;
    //         margin: 0 auto;
    //         max-width: 100%;
    //         max-height: 460px;
    //     }

    //     img#imac, img#ipad {
    //         display: none;
    //     }
    // }
>>>>>>> 8cbd6d152a0b49582c1a4d7514da78891b6c9946

    .content{
        width: 80%;   
    }
    .expertise p {
        font-size: 1em;
<<<<<<< HEAD
=======
        text-align: center;
>>>>>>> 8cbd6d152a0b49582c1a4d7514da78891b6c9946
    }
    .graphic, .web, .motion {
        display: block;
        width: 100%;
        vertical-align: top;
    }
<<<<<<< HEAD
    .work img {
        display: block;
        width: 100%;
        height: 100%;
        margin: 0;
        margin: 0 auto;
        margin-bottom: 10px;
        
        &:last-child{
            margin: 0 auto;
            margin-bottom: 50px;
=======
    .work{
        img {
            display: block;
            margin: 0;
            margin: 0 auto;
            margin-bottom: 10px;
            width: 100%;
            height: 100%;
        }

        a {
            &:last-child {
                img {
                    margin-bottom: 30px;
                }
            }
>>>>>>> 8cbd6d152a0b49582c1a4d7514da78891b6c9946
        }
    }
    
    figure {
        display: block;
        margin: 0 auto;
        width: 100%;
        img {
<<<<<<< HEAD
            width: 150px;
            //display: block;
            height: 150px;
            margin: 0;
            padding: 0;
        }

        figcaption {
            margin-bottom: 15px;
            margin-top: 0;
        }
    }   
=======
            margin: 0;
            padding: 0;
            width: 150px;
            height: 150px;
        }

        figcaption {
            margin-top: 0;
            margin-bottom: 15px;
        }
    }   

    .team {
        hr {
            margin-top: 20px; 
        }
    }
>>>>>>> 8cbd6d152a0b49582c1a4d7514da78891b6c9946
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
<<<<<<< HEAD
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
=======
        box-shadow: none !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
>>>>>>> 8cbd6d152a0b49582c1a4d7514da78891b6c9946
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
