<footer>
  <a id="btn" class="button yellow" href="http://twitter.com/IntegralStudios">Ping us on Twitter</a>
  <div class="social">
    <a href="http://facebook.com/integralstudios"><img src="img/s_facebook.png" alt="facebook logo"></a>
    <a href="http://linkedin.com/company/integral-studios"><img src="img/s_linkedin.png" alt="linkedin logo"></a>
    <a href="http://twitter.com/IntegralStudios"><img src="img/s_twitter.png" alt="twitter logo"></a>
    <a href="http://vimeo.com/integralstudios"><img src="img/s_vimeo.png" alt="vimeo logo"></a>
  </div>
</footer>